/********************************** PAGE COLORS */
/* line 1, /home/ubuntu/openmct-website/styles/sass/_resets.scss */
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-spacing: normal;
  margin: 0;
  padding: 0; }

/* line 10, /home/ubuntu/openmct-website/styles/sass/_resets.scss */
div, li {
  box-sizing: border-box; }

/* line 14, /home/ubuntu/openmct-website/styles/sass/_resets.scss */
h1, h2, .h2, h3, .h3,
.h1, .h2, .h3 {
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 0.3em; }

/* line 21, /home/ubuntu/openmct-website/styles/sass/_resets.scss */
iframe {
  border: none;
  display: block; }

/* line 26, /home/ubuntu/openmct-website/styles/sass/_resets.scss */
p, ol {
  margin: 0 0 0.6em 0; }

/* line 30, /home/ubuntu/openmct-website/styles/sass/_resets.scss */
ol, ul {
  margin: 0; }

/* line 34, /home/ubuntu/openmct-website/styles/sass/_resets.scss */
ul.no-bullets, ul.link-list {
  margin: 0 !important;
  padding: 0 !important; }
  /* line 37, /home/ubuntu/openmct-website/styles/sass/_resets.scss */
  ul.no-bullets li, ul.link-list li {
    list-style: none; }

/* line 1, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
.l-hero-holder {
  position: relative; }
  /* line 3, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
  .l-hero-holder .l-hero-main {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    line-height: 230%; }
    /* line 9, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
    .l-hero-holder .l-hero-main .l-hero-text-bg-fade {
      background-color: transparent;
      background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.7) 40%);
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7) 40%);
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      min-height: 50%; }
    /* line 18, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
    .l-hero-holder .l-hero-main .l-hero-text {
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      z-index: 2;
      color: #ccc; }
      /* line 22, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
      .l-hero-holder .l-hero-main .l-hero-text * :not(.btn) {
        text-shadow: rgba(0, 0, 0, 0.6) 0 1px 10px; }
      /* line 26, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
      .l-hero-holder .l-hero-main .l-hero-text b {
        color: white; }

/* line 33, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
.p-home .l-hero-holder {
  height: 540px; }
  /* line 36, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
  .p-home .l-hero-holder .l-hero-main .cols {
    padding: 0 48px; }

/* line 41, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
.p-body .l-hero-holder {
  height: 200px;
  text-transform: uppercase; }
  /* line 45, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
  .p-body .l-hero-holder .l-hero-main:before {
    background-color: #017ac6;
    background-image: -webkit-linear-gradient(#017ac6 10%, rgba(1, 122, 198, 0.3));
    background-image: linear-gradient(#017ac6 10%, rgba(1, 122, 198, 0.3));
    background-color: transparent;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
  /* line 53, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
  .p-body .l-hero-holder .l-hero-main .cols {
    padding-top: 100px; }
    /* line 55, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
    .p-body .l-hero-holder .l-hero-main .cols .col {
      z-index: 1; }

/******************************************** SPECIFIC HEROES */
/* line 64, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
.p-home .hero-overview {
  background-image: url("../images/hero-rp-dot-1.jpg"); }
  /* line 66, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
  .p-home .hero-overview .col-left {
    font-size: 1.35em; }
  /* line 69, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
  .p-home .hero-overview .col-right {
    text-align: center;
    text-transform: uppercase; }
    /* line 72, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
    .p-home .hero-overview .col-right a {
      display: inline-block; }

/* line 80, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
.p-body.about-open-mct .l-hero-holder .l-hero-main {
  background-image: url("../images/hero-body-packets-1.jpg"); }

/* line 81, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
.p-body.getting-started .l-hero-holder .l-hero-main {
  background-image: url("../images/hero-body-panel-1.jpg"); }

/* line 82, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
.p-body.contributing .l-hero-holder .l-hero-main {
  background-image: url("../images/hero-body-stacked-plot-1.jpg"); }

/* line 83, /home/ubuntu/openmct-website/styles/sass/_heroes.scss */
.p-body.documentation .l-hero-holder .l-hero-main {
  background-image: url("../images/hero-body-timeline-1.jpg"); }

/* line 3, /home/ubuntu/openmct-website/styles/sass/_body-pages.scss */
.p-body .l-page-section:not(:first-child) .wi {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

/* line 6, /home/ubuntu/openmct-website/styles/sass/_body-pages.scss */
.p-body .l-page-section.no-margin {
  padding-top: 0.6em;
  padding-bottom: 0.6em; }

/* line 10, /home/ubuntu/openmct-website/styles/sass/_body-pages.scss */
.p-body .l-page-section h2, .p-body .l-page-section .h2,
.p-body .l-page-section .h2 {
  font-size: 1.5em;
  text-align: left;
  margin-top: 1.5em; }

/* line 16, /home/ubuntu/openmct-website/styles/sass/_body-pages.scss */
.p-body .l-page-section h2:first-child, .p-body .l-page-section .h2:first-child,
.p-body .l-page-section .h2:first-child {
  margin-top: inherit; }

/* line 23, /home/ubuntu/openmct-website/styles/sass/_body-pages.scss */
img.img-medium {
  width: 640px; }

/* line 27, /home/ubuntu/openmct-website/styles/sass/_body-pages.scss */
img.img-small {
  width: 320px; }

/* line 31, /home/ubuntu/openmct-website/styles/sass/_body-pages.scss */
ul.t-list-steps {
  padding: 0; }

/* line 36, /home/ubuntu/openmct-website/styles/sass/_body-pages.scss */
.l-page-section ul {
  padding: 0 0 20px 40px; }

/* line 40, /home/ubuntu/openmct-website/styles/sass/_body-pages.scss */
.l-page-section img {
  max-width: 100%; }

/* line 1, /home/ubuntu/openmct-website/styles/sass/_jsdoc.scss */
.jsdoc nav {
  display: block;
  float: right;
  margin-top: 28px;
  width: 30%;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  padding-left: 16px; }
  /* line 11, /home/ubuntu/openmct-website/styles/sass/_jsdoc.scss */
  .jsdoc nav ul {
    font-size: 100%;
    line-height: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none; }
    /* line 18, /home/ubuntu/openmct-website/styles/sass/_jsdoc.scss */
    .jsdoc nav ul li {
      list-style: none;
      text-transform: none; }

/* line 9, /home/ubuntu/openmct-website/styles/sass/styles.scss */
html, body {
  background-color: #2e2e2e;
  font-family: 'Helvetica Neue', sans-serif; }

/* line 14, /home/ubuntu/openmct-website/styles/sass/styles.scss */
body {
  min-width: 800px; }

/* line 18, /home/ubuntu/openmct-website/styles/sass/styles.scss */
a {
  color: #017ac6;
  text-decoration: none; }
  /* line 21, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  a:hover {
    color: #16a4fe; }

/* line 26, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.list-vertical {
  margin-bottom: 1.2em !important; }

/* line 31, /home/ubuntu/openmct-website/styles/sass/styles.scss */
nav,
h1, h2, .h2, h3, .h3,
a.arw,
ul.link-list.arw li a, ul.link-list.arw li a, .l-hero-text, .t-footer, .t-list-steps:not(code) {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  letter-spacing: -0.03em; }

/* line 39, /home/ubuntu/openmct-website/styles/sass/styles.scss */
nav,
h2,
.h2, h3, .h3,
.t-footer {
  text-transform: uppercase; }

/* line 48, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.padX, .wi, .l-page-section, .main-nav {
  box-sizing: border-box;
  padding: 0 24px; }

/******************************************** SYMBOLS */
@font-face {
  font-family: 'omct-symbols';
  src: url("../fonts/omct-symbols.eot?yyn1qj");
  src: url("../fonts/omct-symbols.eot?yyn1qj#iefix") format("embedded-opentype"), url("../fonts/omct-symbols.ttf?yyn1qj") format("truetype"), url("../fonts/omct-symbols.woff?yyn1qj") format("woff"), url("../fonts/omct-symbols.svg?yyn1qj#omct-symbols") format("svg");
  font-weight: normal;
  font-style: normal; }

/******************************************** WRAPPERS */
/* line 66, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.wo {
  width: 100%; }

/* line 71, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.wi {
  max-width: 1024px;
  margin: 0 auto; }

/* line 78, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.w-image {
  position: relative; }

/******************************************** ARCHETYPES */
/* line 85, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.btn {
  white-space: nowrap; }
  /* line 87, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .btn.major {
    background-color: #0199f9;
    background-image: -webkit-linear-gradient(#0199f9, #017ac6);
    background-image: linear-gradient(#0199f9, #017ac6);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 10px;
    color: white;
    padding: 2px 20px; }
    /* line 94, /home/ubuntu/openmct-website/styles/sass/styles.scss */
    .btn.major:hover {
      background-color: #48b8fe;
      background-image: -webkit-linear-gradient(#48b8fe, #0199f9);
      background-image: linear-gradient(#48b8fe, #0199f9); }
    /* line 97, /home/ubuntu/openmct-website/styles/sass/styles.scss */
    .btn.major.overlaid {
      font-size: 2.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

/* line 108, /home/ubuntu/openmct-website/styles/sass/styles.scss */
a.arw, ul.link-list.arw li a {
  text-transform: uppercase; }
  /* line 110, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  a.arw:after, ul.link-list.arw li a:after {
    content: ' \e900';
    font-size: 0.8em; }

/* line 137, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.cols {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  /* line 142, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols .col {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 24px;
    padding-left: 24px; }
    /* line 146, /home/ubuntu/openmct-website/styles/sass/styles.scss */
    .cols .col:first-child {
      margin-left: 0;
      padding-left: 0; }
    /* line 150, /home/ubuntu/openmct-website/styles/sass/styles.scss */
    .cols .col .c-wrap {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1 1 auto;
      -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
    /* line 153, /home/ubuntu/openmct-website/styles/sass/styles.scss */
    .cols .col .graphic {
      -webkit-box-flex: 0;
      -moz-box-flex: 0;
      box-flex: 0;
      -webkit-flex: 0 1 auto;
      -moz-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      margin-top: 0.6em;
      display: block; }
  /* line 159, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-equal .col {
    -webkit-flex-basis: 0;
    -moz-flex-basis: 0;
    flex-basis: 0;
    -ms-flex-preferred-size: 0; }
  /* line 129, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-1-2 .col.col-left {
    width: 33.33333%; }
  /* line 130, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-1-2 .col.col-right {
    width: 66.66667%; }
  /* line 129, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-1-3 .col.col-left {
    width: 25%; }
  /* line 130, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-1-3 .col.col-right {
    width: 75%; }
  /* line 129, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-1-4 .col.col-left {
    width: 20%; }
  /* line 130, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-1-4 .col.col-right {
    width: 80%; }
  /* line 129, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-1-5 .col.col-left {
    width: 16.66667%; }
  /* line 130, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-1-5 .col.col-right {
    width: 83.33333%; }
  /* line 132, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-2-1 .col.col-left {
    width: 66.66667%; }
  /* line 133, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-2-1 .col.col-right {
    width: 33.33333%; }
  /* line 132, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-3-1 .col.col-left {
    width: 75%; }
  /* line 133, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-3-1 .col.col-right {
    width: 25%; }
  /* line 132, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-4-1 .col.col-left {
    width: 80%; }
  /* line 133, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-4-1 .col.col-right {
    width: 20%; }
  /* line 132, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-5-1 .col.col-left {
    width: 83.33333%; }
  /* line 133, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .cols.cols-5-1 .col.col-right {
    width: 16.66667%; }

/* line 174, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.t-list-steps b {
  color: #949494;
  display: inline-block;
  width: 20px; }

/* line 179, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.t-list-steps .code-wrapper {
  background-color: #333;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  color: #ccc;
  display: block;
  font-family: monospace;
  padding: 10px 10px;
  width: 100%; }
  /* line 189, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .t-list-steps .code-wrapper:focus {
    outline: none; }
  /* line 192, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .t-list-steps .code-wrapper::selection {
    background-color: #017ac6;
    color: white; }
  /* line 197, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .t-list-steps .code-wrapper::-moz-selection {
    background-color: #017ac6;
    color: white; }

/* line 202, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.t-list-steps label {
  opacity: 0;
  pointer-events: none;
  position: absolute; }

/* line 207, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.t-list-steps li {
  margin-bottom: 1.2em; }

/* line 210, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.t-list-steps p {
  font-size: 1.25em;
  text-transform: uppercase; }

/* line 216, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.icon, a.arw:after, ul.link-list.arw li a:after, .btn.download:after, .github-logo:before {
  font-family: 'omct-symbols' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }

/* line 226, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.video-wrapper {
  position: relative;
  height: 0; }
  /* line 229, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .video-wrapper.aspect16x9 {
    padding-bottom: 56.25%; }
  /* line 230, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .video-wrapper.aspect3x1 {
    padding-bottom: 66.6%; }
  /* line 231, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .video-wrapper.aspect4x3 {
    padding-bottom: 75%; }
  /* line 233, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .video-wrapper iframe.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* line 241, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.area-scrolling {
  overflow: auto; }

/******************************************** PAGE SECTIONS */
/* line 246, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.l-page-section {
  background-color: white;
  color: #2e2e2e;
  font-size: 0.9rem; }
  /* line 251, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .l-page-section .wi {
    padding-top: 32px;
    padding-bottom: 32px; }
  /* line 256, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .l-page-section h1, .l-page-section h2, .l-page-section .h2 {
    color: #666; }
  /* line 258, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .l-page-section h1 {
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 32px; }
  /* line 264, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .l-page-section h2, .l-page-section .h2 {
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 0; }
  /* line 270, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .l-page-section.c-ltgray {
    background-color: #fbfbfb; }
  /* line 274, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .l-page-section.t-feature {
    background-color: #fff;
    background-image: -webkit-linear-gradient(#fff 90%, #f6f6f6);
    background-image: linear-gradient(#fff 90%, #f6f6f6); }
  /* line 278, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .l-page-section .area-scrolling {
    height: 200px;
    margin-bottom: 1.2em;
    width: 100%; }
  /* line 284, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .l-page-section .t-intro {
    margin-bottom: 24px; }

/******************************************** NAV */
/* line 290, /home/ubuntu/openmct-website/styles/sass/styles.scss */
nav {
  background: #2e2e2e;
  height: 65px;
  position: fixed;
  z-index: 2; }

/* line 297, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.main-nav {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  font-size: 0.8rem;
  height: 65px; }
  /* line 302, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .main-nav a {
    color: #ccc; }
    /* line 305, /home/ubuntu/openmct-website/styles/sass/styles.scss */
    .main-nav a:hover {
      color: #f2f2f2; }
  /* line 309, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .main-nav .l-logoholder {
    height: 100%;
    white-space: nowrap; }
    /* line 312, /home/ubuntu/openmct-website/styles/sass/styles.scss */
    .main-nav .l-logoholder a.logo {
      display: inline-block;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain; }
      /* line 318, /home/ubuntu/openmct-website/styles/sass/styles.scss */
      .main-nav .l-logoholder a.logo:not(:first-child) {
        margin-left: 16px; }
  /* line 323, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .main-nav .l-nav-links {
    text-align: right;
    white-space: nowrap; }
    /* line 326, /home/ubuntu/openmct-website/styles/sass/styles.scss */
    .main-nav .l-nav-links .nav-link {
      display: inline-block;
      vertical-align: middle; }
      /* line 329, /home/ubuntu/openmct-website/styles/sass/styles.scss */
      .main-nav .l-nav-links .nav-link:not(:first-child) {
        margin-left: 16px; }

/******************************************** SPECIFIC ELEMENTS */
/* line 337, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.l-main {
  padding-top: 65px; }

/* line 345, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.btn.download:after {
  color: #62c2fe;
  content: ' \e901';
  font-size: .8em; }

/* line 351, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.btn.download:hover:after {
  color: #aedfff; }

/* line 356, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.logo-bg, .logo-nasa, .t-footer .t-footer-content:before, .logo-openmct {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }

/* line 362, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.logo-nasa, .t-footer .t-footer-content:before {
  background-image: url("../images/logo-nasa.svg");
  width: 58.5px; }

/* line 367, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.logo-openmct {
  background-image: url("../images/logo-openmct.svg");
  width: 108.225px; }

/* line 374, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.github-logo:before {
  content: '\e950';
  font-size: 2.5em; }

/* line 381, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.l-graphic-boxes {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch; }
  /* line 383, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .l-graphic-boxes .col {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    box-lines: single;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative; }
  /* line 389, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .l-graphic-boxes.bg {
    background-color: #ccc; }
    /* line 391, /home/ubuntu/openmct-website/styles/sass/styles.scss */
    .l-graphic-boxes.bg .col:not(:first-child) {
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      font-size: 0.9em; }

/* line 399, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.t-list-steps .code-wrapper.dev-prereqs {
  background-image: url("../images/logo-dev-prereqs.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px; }

/* line 406, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.t-list-steps .code-wrapper .btn.major {
  text-transform: uppercase; }

/* line 411, /home/ubuntu/openmct-website/styles/sass/styles.scss */
.t-footer {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), transparent 15px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), transparent 15px);
  color: #999;
  padding-bottom: 200px;
  line-height: 140%; }
  /* line 418, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .t-footer b {
    color: #cccccc; }
  /* line 419, /home/ubuntu/openmct-website/styles/sass/styles.scss */
  .t-footer .t-footer-content {
    font-size: 0.8em;
    padding-left: 105px;
    position: relative; }
    /* line 423, /home/ubuntu/openmct-website/styles/sass/styles.scss */
    .t-footer .t-footer-content:before {
      content: '';
      display: block;
      height: 65px;
      position: absolute;
      left: 24px; }

/*# sourceMappingURL=styles.css.map */
